/* form02.css */
/* input에 있는 모든 type에 적용하겠다. */
p {margin: 10px 0 0 15px;}
input[type] {background-color: #f5f5f5;}
input[value] {border: 1px solid #222;} /* 속성선택자, 꼭 띄지말고 붙여서 */
textarea {resize: none;}
.group1 {
    background-color: rgba(255,255,0,0.2);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap; gap: 12px;
    align-items: flex-start;
}
